<div id="project-show">
  <h1><%= @project.project_name %></h1>
  <h6><%= link_to "Github Repo" , @project.project_link, :target => "_blank" %></h6>
  <h1><%= image_tag @project.image.url(:thumb) %></h1>

  <p><%= link_to "Return to projects", projects_path, class: "btn btn-info" %></p>
</div>
