<p>
WHO // Kaila Goff<br>
WHAT // Software Developer<br>
WHEN // 2017-present<br>
WHERE // Portland, OR<br>
WHY // A love of analytical and creative work<br>
</p>

<p>I am a life long athlete with a passion for healthy living, be it physcial, mental, or emotional. I have an endless curiosity that includes; history, nature, psychology, and technology. I love the work that I do and take pride in the details of the finished product.</p>
