<h3>Backpacker Clone</h3>
<p>A recreation of Backpacker magazines website using JS/Angular and Firebase for the database.</p>

<h3>Coffee Ecommerce</h3>
<p>A ecommerce site built for a fictious coffee shop using Ruby on Rails. Also utilizing PostgresQL for the database, and seeded with the faker gem.</p>

<h3>Tech Tarot</h3>
<p>Final project for Epicodus, web development bootcamp. Utilizing Ruby on Rails, PostgreSQL for the database.</p>
