<div class="well" id="header">
  <div class="row" id="header-row">
    <div class="col-md-3">
      <%= image_tag("me.jpg", :class=> "img-circular") %>
    </div>
  </div>
</div>
    <div class="col-md-9" id="text-col">
      <h1>KAILA GOFF</h1>
      <h5>DEVELOPER</h5>
      <h6>portland, or</h6>
    </div>


<div class="card"  id="home-body">
  <div class="card-body">
    <h4 class="card-title">Inventive, Bold, Thoughtful</h4>
    <p class="card-text">finding intelligent, simple solutions</p>
  </div>
</div>

<div class="container">
  <div id="about_me">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra id mi quis porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec purus ligula, fringilla in sagittis sit amet, ornare sit amet arcu. Sed gravida ex lectus, non rutrum libero egestas sit amet. Sed ac mattis nibh. Maecenas in mattis felis, vel sollicitudin arcu. Donec sem justo, eleifend vitae convallis a, dapibus venenatis justo. Quisque eu iaculis purus. Phasellus faucibus massa et ante varius, sodales volutpat lacus ullamcorper. Maecenas id semper nunc. Praesent viverra lorem at mollis mattis. Phasellus laoreet sapien vitae consectetur posuere. Aenean id velit ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ullamcorper enim nec sapien placerat, quis mollis lectus dignissim.</p>
    <br>
    <p>Aenean ornare ipsum id dolor rutrum, ut dictum mauris viverra. Nullam quis diam vitae quam aliquet facilisis. Mauris tortor magna, suscipit sit amet pellentesque condimentum, ullamcorper at tortor. Vivamus ac nibh tincidunt, fringilla odio sit amet, consectetur lectus. Mauris placerat dignissim augue at volutpat. Duis faucibus ultrices lorem, ac aliquam nisl cursus semper. Pellentesque diam urna, varius nec lacus sed, pretium suscipit mauris. Nunc a consectetur tortor. Vestibulum sit amet turpis aliquet, venenatis lectus vel, lacinia purus.</p>
  </div>
</div>

<div id="home-body">
  <%= image_tag("kgicondraft.jpg", :size => "150x87") %>
</div>
