<div class="well" id="header">
  <div class="row" id="header-row">
    <div class="col-md-3">
      <%= image_tag("me.jpg", :class=> "img-circular") %>
    </div>
    <div class="col-md-9" id="text-col">
      <h1>KAILA GOFF</h1>
      <h5>WEB DEVELOPER</h5>
      <h6>portland, or</h6>
    </div>
  </div>
</div>


<div class="card"  id="home-body">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1513646564457-a62261e23542?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2608973ffe6220ce8d882df95b73ea9c&auto=format&fit=crop&w=700&q=60" width="300" height="100" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Inventive, Bold, Thoughtful</h4>
    <p class="card-text">finding intelligent, simple solutions</p>
  </div>
</div>
