<header>
  <div class="title">
    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
      <ul class="nav navbar-nav">
        <li class="active"></li>
        <li><a href="#about">about </a></li>
        <li><a href="#skills">skills </a></li>
        <li><a href="#projects">projects </a></li>
        <li><a href="#contact">contact </a></li>
      </ul>
    </nav>

    <div class="row" id="header-row">
      <br><br>
      <div>
        <%= image_tag("me.jpg", :class=> "img-circular") %>
      </div>
      <br>
      <div class="column right">
        <h1>KAILA GOFF</h1>
        <h5>DEVELOPER</h5>
        <h6>PORTLAND, OR</h6>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container" id="about">
    <p>this is stuff about me.</p>
  </div>
  <br><br>
  <div class="container" id="skills">
    <p>OBJECT ORIENTED PROGRAMMING/ PAIR PROGRAMMING</p>
    <p>RUBY/ RAILS</p>
    <p>JS / NODEJS/ ANGULAR/ jQUERY</p>
    <p>BOOTSTRAP/ SASS</p>
    <p>PostgreSQL</p>
  </div>
  <br><br>
  <div class="container" id="projects">
    <p>current projects</p>
  </div>
  <br><br>
  <div class="container" id="contact">
    <p>contact info</p>
  </div>
  <br><br>
</main>
