<div class="container">
  <% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="col-md-6">
      <div id="posts_list">
        <h5><%= link_to post.title, post_path(post) %></h5>
        <%= image_tag(post.image.url(:large)) %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
