@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require jquery.lightbox-0.5
 *= require carousel
 */
 /*
 *= require rails_bootstrap_forms
 */
body {
  background-image: url("https://i.stack.imgur.com/HCfU2.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

li {
  list-style: none;
}
//navbar
.navbar {
  height: 75px;
  background-image: url("https://images.unsplash.com/photo-1521798864191-bb5fb5a9da66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a87e9067b97f2380b44a3f7b9e43255b&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: .7;
  font-family: 'Open Sans', sans-serif;
  padding-top: 7px;
}


//skill

#header {
  text-align: left;
  padding-left: 50px;
  background-image: url("https://images.unsplash.com/photo-1510267519236-48581949f65a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=10c553182f4cc69fb98bcbf02f54d28b&auto=format&fit=crop&w=1350&q=80");
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  text-shadow: white 2px 2px 2px;
  background-repeat: no-repeat;
  height: 370px;
  margin-top: -150px;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
}

#header-row {
  padding-top: 87px;
}

#text-col {
  margin-left: -37px;
}

#register {
  text-align: center;
}

#skills_list {
  text-align: center;
}

#skill-show {
  text-align: center;
}

.forms {
  text-align: center;
  align-items: center;
}

//home
#home-body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#home-image {
  text-align: center;
}

#admin-dash {
  text-align: center;
}

#about_me {

}

.img-circular{
 width: 200px;
 height: 200px;
 background-size: cover;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

#footer {
  text-align: right;
}

//posts

#posts_list {
  text-align: center;
}

#blog-show {
  padding-left: 50px;
}

#comments {
  text-align: center;
}

//photos

#wrapper {
  padding-left: 10%;
  padding-right: -10%;
  padding-bottom: 200px;
}

#photo-show {
  text-align: center;
}

//projects_list

#projects_list {
  text-align: center;
}

#project-show {
  text-align: center
}
