@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require jquery.lightbox-0.5
 *= require carousel
 */
 /*
 *= require rails_bootstrap_forms
 */

 body {
  font-family: 'Libre Baskerville', serif !important;
 }

 header {
   background:
     linear-gradient(
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
     ),
     url(https://images.unsplash.com/photo-1467087027365-0850cec5d188?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);
   background-size: cover;
   height: 100vh;
 }

 .title {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   text-align: center;
 }

 main {
   max-width: 500px;
   margin: 20px auto;
 }


.img-circular{
 width: 200px;
 height: 200px;
 background-size: cover;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

#footer {
  text-align: center;
}

// button
button:focus {
    outline: none;
}

.modalButton {
  background-color: #383838;
  text-transform: uppercase;
  padding: 2vh;
  border-radius: .2vh;
  border: none;
  font-size: 2vh;
}

//modal

.modal-header {
  background-color: #383838;
  color:white;
  border-bottom: 0 none !important;
}

.modal-body {
  background-color: #383838;
  color:white;
}

.modal-footer {
  background-color: #383838;
  color:white;
  border-top: 0 none !important;
}
